{
  "firm": "ELMS Dev",
  "slug": "elms-dev",
  "issuedAt": "2026-03-20T18:54:51Z",
  "expiresAt": "2027-03-20T00:00:00Z",
  "features": [
    "core"
  ],
  "signature": "XiflVupTLWpSFYhAJoz51i+aRhPVhVZPvuI1LgjBlqIQMLgTGyUVK1dXCbA9T1Bt6ZlQLFJyQBZI3KbAzJN51G0ePLyHA03u6TntKXAnOnbpc+GIrdGGtbTIaGyOwd7j9+PT4CjTHSO+5SPzGcw7+B9RYenf6LYoB67/pnjHmutW2DdTg/WuDcNGH9O7ZR1dJreFfoNXUvyt5+F15FkQ36AN8hi7ZXWmw+bw3ZPIQFvek5jGVHYkz6t9nGodID6B4I5wpLugXkgmYm7eZSJuFpAo3qpKkqkLrioh07WfVuhBRS5zyQfHUptCTcFsHM0gvUuyTYfZHb6f2wELda7XQQ=="
}
